.body {
    margin: 0;
    padding: 0;
}
#main-div {
}
#map-canvas {
    width: 70%;
}
#right-panel {
    width: 30%;
    float: right;
}
#route-list {
    height: 850px;
    overflow-y: scroll;
}
#route-list-element {
    border-style: ridge;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font: 12px verdana, sans-serif;
}
#add-route-plus-sign {
    font: 36px verdana, sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#route-list-element-new {
    border-style: ridge;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font: 12px verdana, sans-serif;
    background-color: #BAFFBE;
}
#view-details-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
}
#route-data {
    border-style: solid;
    border-width: 1px;
    height: 300px;
    background-color: #F0F0F0;
    font: 12px verdana, sans-serif;
}
#route-data-dynamic {
    float: right;
    width: 640px;
    height: 240px;
}
#route-data-item {
    float: right;
    width: 160px;
    height: 100px;
    background-color: #FFFFFF;
    font: 16px verdana, sans-serif;
}
#route-data-item-value {
    font: 36px verdana, sans-serif;
}
#route-playback-controls {
    width: 480px;
    height: 20px;
    vertical-align: middle;
}
#edit-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}
#save-changes-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}
#cancel-button {
    background-color: #A5A500;
    color: white;
    border-radius: 4px;
}
#delete-button {
    background-color: #f44336;
    color: white;
    border-radius: 4px;
}
#play-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#play-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#play-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#play-button:hover span {
  padding-right: 25px;
}
#play-button:hover span:after {
  opacity: 1;
  right: 0;
}
#stop-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f44336;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#speed-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#speed-button-pressed {
  display: inline-block;
  border-radius: 4px;
  border-width: 1px;
  border-color: #000000;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}