.body {
    margin: 0;
    padding: 0;
}
#map-canvas {
    width: 1000px;
    height: 700px;
}
#nonmap-canvas {
    width: 1000px;
    height: 600px;
    overflow: scroll;
}
#controls {
    width: 700px;
    height: 300px;
    float: right;
}
#route-list {
    width: 500px;
    height: 300px;
    overflow: scroll;
}
#route-list-element {
    border-style: ridge;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font: 12px verdana, sans-serif;
}
#view-details-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
}
#delete-button {
    background-color: #f44336;
    color: white;
    border-radius: 8px;
}
#route-data {
    border-style: solid;
    border-width: 1px;
    height: 240px;
    background-color: #F0F0F0;
    font: 12px verdana, sans-serif;
}
#route-data-dynamic {
    float: right;
    width: 320px;
    height: 240px;
}
#route-data-altitude {
    float: right;
    width: 160px;
    height: 110px;
    background-color: #FFFFFF;
    font: 24px verdana, sans-serif;
}
#route-data-hr {
    float: right;
    width: 160px;
    height: 110px;
    background-color: #FFFFFF;
    font: 24px verdana, sans-serif;
}
#route-data-climb {
    float: right;
    width: 160px;
    height: 110px;
    background-color: #FFFFFF;
    font: 24px verdana, sans-serif;
}
#route-data-duration {
    float: right;
    width: 160px;
    height: 110px;
    background-color: #FFFFFF;
    font: 24px verdana, sans-serif;
}
#route-playback-controls {
    width: 320px;
    height: 20px;
}
#altitude {
    font: 64px verdana, sans-serif;
}
#bpm {
    font: 64px verdana, sans-serif;
}
#duration {
    font: 64px verdana, sans-serif;
}
#climb {
    font: 64px verdana, sans-serif;
}
#status-bar {
    width: 700px;
    height: 20px;
    margin-top: 20px;
}

h1 {
    color0: red;
    font-family: sans-serif;
    font-size: 20px;
}
h2 {
    font-family: sans-serif;
    font-size: 16px;
}